<h2 mat-dialog-title>編輯貼文</h2>

<form class="p-20" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="w-full">
        <mat-label>貼文標題</mat-label>
        <input matInput formControlName="name" appAutoFocus />
        <mat-error *ngIf="form.get('name')?.invalid">
            貼文必須至少 3 個字
        </mat-error>
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onCancel()">取消</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            儲存
        </button>
    </div>
</form>