<h2 class="post-title">留言板</h2>

<div *ngFor="let post of posts; trackBy: trackByPostId" class="post-card">
  <div class="post-header">
    <!-- 此處使用 innerHTML 是為了用 XSS 防禦設計的實驗性內容，實務上需要減少使用這種方式實踐 -->
    <h3 *ngIf="post.name; else fallback" [innerHTML]="sanitizeContent(post.name)"></h3>
    <ng-template #fallback>
      <h3 aria-label="無標題" [innerHTML]="sanitizeContent('無標題')"></h3>
      <h3 class="sr-only">{{ sanitizeContent('無標題') }}</h3>
    </ng-template>

    <div class="post-actions">
      <button mat-icon-button (click)="onEditPost(post)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDeletePost(post.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <p class="post-time">發佈時間：{{ post.createdAt | date:'yyyy/MM/dd HH:mm' }}</p>
</div>

<h3 class="form-title">新增留言</h3>
<form class="post-form" (ngSubmit)="onAddPost()">
  <textarea [(ngModel)]="newPostContent" name="content" required></textarea>
  <div class="form-actions">
    <button type="submit" mat-raised-button color="primary">送出</button>
  </div>
</form>