$spacing-unit: 20px;

:host {
  margin: auto;
}

#login-container {
  padding: $spacing-unit;
  width: 300px;
  border: 2px rgb(224, 224, 224) solid;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#register-link {
  font-size: medium;
  color: grey;
  justify-content: right;

  a:hover {
    color: rgb(75, 75, 75);
  }
}

#header-text {
  padding: 0 10px;
}

#login-form {
  padding: $spacing-unit;

  .row {
    display: flex;
    align-items: center;
    padding-bottom: $spacing-unit;

    label {
      padding-right: $spacing-unit;
    }

    input {
      flex: 1;
      padding: 4px 8px;
      border: rgb(201, 201, 201) 1px solid;
      border-radius: 5px;
    }
  }

  button {
    width: 100%;
    margin-top: 10px;

    &.trans-btn {
      border: none;
      background-color: white;
      width: fit-content;
      margin-top: 0;
    }
  }

}