<div id="login-container">
  <div id="header-container">
    <i class="material-icons">pets</i>
    <h2 id="header-text">登入</h2>
    <i class="material-icons">pets</i>
  </div>
  <form id="login-form" (ngSubmit)="onSubmit()">
    <div class="row">
      <label for="username">帳號</label>
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        required
      />
    </div>

    <div class="row">
      <label for="password">密碼</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>

    <button type="submit">登入</button>
  </form>

  <!-- 顯示錯誤訊息 -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
